@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova Bold.otf");
  font-weight: normal;
  font-style: normal;
}
