.navbar {
  height: 96px;
  background: linear-gradient(
    92.75deg,
    rgba(0, 253, 238, 0.2) -88.46%,
    rgba(16, 16, 28, 0.2) 17.82%
  );
  backdrop-filter: blur(60px);
}

.glowBlue {
  width: 345px;
  height: 514px;
  background: linear-gradient(90deg, #9747ff 0%, rgba(151, 71, 255, 0.7) 100%);
  filter: blur(450px);
  border-radius: 200px;
  transform: rotate(-20.01deg);
  margin-right: -260px;
  top: -384.95px;
  position: absolute;
}

.btnLaunchApp {
  background: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.7) -16.89%,
    #5764ff 72.48%
  );
  border-radius: 5px;
  width: 157px;
  height: 49px;
}

.features {
  background: linear-gradient(
    90deg,
    rgba(87, 100, 255, 0.5) 0%,
    rgba(0, 255, 240, 0.5) 100%
  );
  filter: blur(325px);
  border-radius: 200px;

  width: 300.59px;
  height: 615.14px;

  position: absolute;
}

.purpleBlob {
  position: absolute;
  width: 345px;
  height: 514px;
  margin-left: -500px;
  background: linear-gradient(90deg, #9747ff 0%, rgba(151, 71, 255, 0.7) 100%);
  filter: blur(450px);
  border-radius: 200px;
  transform: rotate(156.61deg);
}

.ourGoal {
  background: linear-gradient(90deg, #00fdee 4.62%, #3645ff 114.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.bodyBlob {
  position: absolute;
  width: 436.52px;
  height: 300.07px;

  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  filter: blur(325px);
  border-radius: 200px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56.59px;
  height: 55.93px;
  transition: 0.1s ease;
  border: 0.506757px solid rgba(250, 250, 250, 0.2);
  border-radius: 8.10811px;
}

.icons :hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56.59px;
  height: 55.93px;
  background: linear-gradient(26.79deg, #0f0f1b 61.39%, #3645ff 89.7%);
  border: 0.506757px solid rgba(250, 250, 250, 0.2);
  border-radius: 8.10811px;
}
.nova {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova Bold.otf");
  font-weight: normal;
  font-style: normal;
}
